<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Find me a Job!
    <:subtitle>Input your info and we'll help you to sell your current skillset.</:subtitle>
  </.header>

  <.job_form />

</Layouts.app>